Repository container-registry/harbor-satellite, pull requests merged in 2025-03, with the labels that each got.

#80 doc: fixing quickstart.md command
  QUICKSTART.md
Labels: documentation

#87 Remove configurable cronjobs
  internal/config/config.go
  internal/config/getters.go
  internal/config/jobs.go
  internal/satellite/satellite.go
Labels: golang

#91 Move Dagger from ci Folder to .dagger
  .dagger/.gitattributes
  .dagger/.gitignore
  .dagger/README.md
  .dagger/go.mod
  .dagger/go.sum
  .dagger/main.go
  .dagger/publish_image.go
  .dagger/utils.go
  dagger.json
Labels: documentation, golang

#92 Chore: Update go.mod & fix go module path in ground-control
  cmd/container_runtime/containerd.go
  cmd/container_runtime/crio.go
  cmd/container_runtime/host.go
  cmd/container_runtime/read_config.go
  cmd/main.go
  go.mod
  ground-control/go.mod
  ground-control/go.sum
  ground-control/internal/server/handlers.go
  ground-control/internal/server/server.go
  ground-control/internal/utils/helper.go
  ground-control/main.go
  internal/notifier/notifier.go
  internal/satellite/routes.go
  internal/satellite/satellite.go
  internal/state/config_process.go
  internal/state/fetcher.go
  internal/state/helpers.go
  internal/state/registration_process.go
  internal/state/replicator.go
  internal/state/state_process.go
  internal/utils/utils.go
  main.go
Labels: golang

#95 Update GC code to handle satellite state artifacts
  cmd/container_runtime/crio.go
  cmd/container_runtime/read_config.go
  cmd/main.go
  go.mod
  go.sum
  ground-control/internal/models/models.go
  ground-control/internal/server/handlers.go
  ground-control/internal/utils/helper.go
  internal/config/config.go
  internal/config/getters.go
  internal/scheduler/scheduler.go
  internal/state/config_process.go
  internal/state/registration_process.go
  internal/state/state_process.go
  internal/utils/utils.go
Labels: golang

#97 Fix the ZTR process
  internal/config/config.go
  internal/satellite/satellite.go
  internal/utils/utils.go
Labels: golang

#93 Fix go mod for satellite
  cmd/container_runtime/containerd.go
  go.mod
  go.sum
Labels: golang

#98 Update the satellite code to accept the new state artifact
  cmd/main.go
  ground-control/internal/models/models.go
  ground-control/internal/server/handlers.go
  ground-control/internal/utils/helper.go
  internal/config/config.go
  internal/config/getters.go
  internal/satellite/satellite.go
  internal/state/fetcher.go
  internal/state/helpers.go
  internal/state/registration_process.go
  internal/state/state.go
  internal/state/state_process.go
Labels: enhancement, golang

#103 Minor changes in README documentation
  README.md
Labels: documentation

#94 fix: remove satellite http server components
  cmd/main.go
  internal/satellite/routes.go
Labels: question, golang

#75 Refactor `DefaultZotConfig`
  cmd/container_runtime/containerd.go
  cmd/container_runtime/crio.go
  cmd/main.go
  config.json
  internal/config/config.go
  internal/config/constants.go
  internal/utils/utils.go
  registry/config.json
  registry/default_config.go
  registry/launch-registry.go
  registry/zot_config.go
  zot-config.json
Labels: golang
