Repository container-registry/harbor-satellite, pull requests merged in 2025-04, with the labels that each got.

#114 Fix: Infinite replication loop if the replication interval is too short
  internal/scheduler/scheduler.go
  internal/state/state_process.go
Labels: golang

#111 Fix dagger builds
  .dagger/go.mod
  .dagger/go.sum
  .dagger/main.go
  .dagger/publish_image.go
  .dagger/utils.go
  .github/workflows/lint.yaml
  cmd/main.go
  config.json
  dagger.json
  docker-compose.yml
  ground-control/migrator/main.go
  registry_config.json
Labels: golang

#123 Fix Lint in pipeline
  cmd/container_runtime/containerd_config.go
  cmd/container_runtime/crio.go
  cmd/container_runtime/crio_config.go
  cmd/container_runtime/host.go
  golangci.yaml
  ground-control/internal/server/handlers.go
  ground-control/internal/server/routes.go
  ground-control/migrator/main.go
  ground-control/reg/harbor/robot.go
  internal/notifier/notifier.go
  internal/scheduler/event.go
  internal/scheduler/scheduler.go
  internal/server/server.go
  internal/state/registration_process.go
  internal/state/state_process.go
  internal/utils/utils.go
  registry/zot_config.go
  test/e2e/satellite_test.go
Labels: enhancement, golang

#122 feat: add validation for satellite_name & group_name
  ground-control/internal/server/handlers.go
  ground-control/internal/utils/helper.go
Labels: golang

#106 initializing client only once and fix 404 issue when satellite is not present
  ground-control/reg/harbor/client.go
  ground-control/reg/harbor/project.go
Labels: enhancement, golang

#130 Add contexts to all crane actions
  ground-control/internal/server/handlers.go
  ground-control/internal/utils/helper.go
  internal/state/fetcher.go
  internal/state/replicator.go
  internal/state/state_process.go
Labels: golang

#105 Add the design proposal for dynamic configuration of the satellite
  docs/decisions/0003-remote-config-injection.md
Labels: documentation, enhancement

#126 added routes to list satellites in a group
  ground-control/internal/database/db.go
  ground-control/internal/database/groups.sql.go
  ground-control/internal/database/models.go
  ground-control/internal/database/robot_accounts.sql.go
  ground-control/internal/database/satellite_groups.sql.go
  ground-control/internal/database/satellite_token.sql.go
  ground-control/internal/database/satellites.sql.go
  ground-control/internal/server/handlers.go
  ground-control/internal/server/routes.go
  ground-control/sql/queries/groups.sql
  ground-control/sql/queries/satellites.sql
Labels: golang

#139 Refactor the satellite config pkg
  .env
  cmd/container_runtime/containerd.go
  cmd/container_runtime/crio.go
  cmd/container_runtime/host.go
  cmd/main.go
  config.json
  docker-compose.yml
  ground-control/internal/server/handlers.go
  internal/config/config.go
  internal/config/getters.go
  internal/logger/logger.go
  internal/satellite/satellite.go
  internal/scheduler/scheduler.go
  internal/state/config_process.go
  internal/state/fetcher.go
  internal/state/helpers.go
  internal/state/registration_process.go
  internal/state/state_process.go
  internal/utils/utils.go
  pkg/config/config.go
  pkg/config/constants.go
  pkg/config/getters.go
  pkg/config/manager.go
  pkg/config/manager_test.go
  pkg/config/modifiers.go
  pkg/config/modifiers_test.go
  pkg/config/validate.go
  pkg/config/validate_test.go
  registry/config.go
  registry/launch-registry.go
  registry/manager.go
  zot-config.json
Labels: golang
